body {
    padding: 50px;
}

h1{
    color: green;
    font-size: 60px;
}

h4{
    font-size: 55px;
}

h5{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: italic;
    font-variant: ;
}