.blueText {
  color: blue;
}

.blodText {
  font-style: bold;
}

.nicePink {
  color: pink;
}

.awesomeButton {
  background-color: aquamarine;
  border-radius: 10px;
  transition-duration: 3s;
}

.awesomeButton:hover {
  background-color: darkgreen;
  color: white;
  background-image: linear-gradient(red, yellow);
}
